@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  background-color: #ffffff;
  color: #09090b; /* zinc-950 */
}

body {
  font-family: var(--font-sans);
}
